/* first round of css for other html elements */
.title-banner {
 background-color: blue;
 color: white;
}

input {
 margin-left: 5px;
 width: 100%;
}

.search-btn {
 background-color: blue;
 color: white;
 border-radius: 5px;
 padding: 2px 8px 2px 8px;
 width: 100%;
}

button:hover {
 background-color: lightskyblue;
 color: black;
}

button:active {
 background-color: lightsteelblue;
}

.list-group-item {
 border: none;
}

.list-group-item li {
 background-color: lightgray;
 color: black;
 border-radius: 5 px;
 padding: 2px 8px 2px 8px;
 margin-top: 4px;
 margin-bottom: 4px;
 width: 100%;
}

.card-body {
 border: solid black 1px;
 background-color: transparent;
 width: 100%;
 height: 200px;
}

/* .card-group forecast-list in JS */
